<div class="form-container">
    <div class="form" [formGroup]="form">
        <div class="title">Sign in</div>
        <div class="sb-title">
            Please fill out the form and enter your credentials to sign in
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Email adress</mat-label>
            <input type="text" matInput formControlName="email" placeholder="Email adress">
            <mat-error *ngIf="form.controls.email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('email')">
                Email adress not <strong>valid</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="password">
            <mat-error *ngIf="form.controls.password.hasError('required')">
                password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()">sign in</button>
        <!-- <div class="ft">
            Don't have an account ? <span routerLink="/auth/register">Sign up</span>
        </div> -->
    </div>
</div>