<div class="dashbord-app">
    <div class="sidenav">
        <div class="ctn">
            <br>
            <div class="slc">
                <mat-form-field appearance="outline">
                    <mat-label>Types</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let type of data" [value]="type.title" (click)="catalogs = type.catalog">
                            {{type.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="slc">
                <mat-form-field appearance="outline">
                    <mat-label>Catalogs</mat-label>
                    <mat-select [disabled]="catalogs.length === 0">
                        <mat-option *ngFor="let cat of catalogs" [value]="cat.title" (click)="products = cat.products">
                            {{cat.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="slc">
                <mat-form-field appearance="outline">
                    <mat-label>Products</mat-label>
                    <mat-select [disabled]="products.length === 0">
                        <mat-option *ngFor="let prod of products" [value]="prod.title"
                            (click)="consumers = prod.consumers">
                            {{prod.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="slc">
                <mat-form-field appearance="outline">
                    <mat-label>Consumers</mat-label>
                    <mat-select [disabled]="consumers.length === 0">
                        <mat-option *ngFor="let cons of consumers" [value]="cons">
                            {{cons}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="label">Date Granularity</div>
            <!-- <div class="slc">
                <mat-form-field appearance="outline">
                    <mat-label>choose option</mat-label>
                    <mat-select>
                        <mat-option value="Week">Week</mat-option>
                        <mat-option value="Month">Month</mat-option>
                        <mat-option value="Year">Year</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="slc">
                <mat-form-field appearance="outline">
                    <mat-label>choose date</mat-label>
                    <mat-date-range-input [rangePicker]="campaignOnePicker">
                        <input readonly matStartDate>
                        <input readonly matEndDate>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="btn">
                <button mat-raised-button color="primary">Apply</button>
            </div>
            <div class="btn exl">
                <button mat-raised-button color="primary">Export</button>
            </div>
        </div>
    </div>
    <div class="charts">
        <div class="boxs">
            <div class="lbl">Data Exchange</div>
            <div class="ctn-boxs">
                <div class="item-box">
                    <canvas id="chart1"></canvas>
                </div>
                <div class="item-box">
                    <canvas id="chart2"></canvas>
                </div>
                <div class="item-box">
                    <canvas id="chart3"></canvas>
                </div>
            </div>
            <div class="lbl">Health System</div>
            <div class="ctn-boxs">
                <div class="item-box">
                    <canvas id="chart4"></canvas>
                </div>
                <div class="item-box">
                    <canvas id="chart5"></canvas>
                </div>
                <div class="item-box">
                    <canvas id="chart6"></canvas>
                </div>
            </div>
            <div class="lbl">Feedbacks, Alerts</div>
            <div class="ctn-boxs">
                <div class="item-box">
                    <canvas id="chart7"></canvas>
                </div>
                <div class="item-box">
                    <canvas id="chart8"></canvas>
                </div>
                <div class="item-box">
                    <canvas id="chart9"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>