<div class="dashbord-app">
    <div class="sidenav">
        <div class="ctn">
            <br>
            <div class="slc">
                <mat-form-field appearance="outline">
                    <mat-label>Catalogs</mat-label>
                    <mat-select [disabled]="catalogs.length === 0">
                        <mat-option value="all" (click)="selectCatalog('all')">All</mat-option>
                        <mat-option *ngFor="let cat of catalogs" [value]="cat" (click)="selectCatalog(cat)">
                            {{cat}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="slc">
                <mat-form-field appearance="outline">
                    <mat-label>Products</mat-label>
                    <mat-select [disabled]="products.length === 0">
                        <mat-option value="all" (click)="productSelected = 'all'">All</mat-option>
                        <mat-option *ngFor="let prod of products" [value]="prod.title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                            (click)="productSelected = prod">
                            {{prod.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="label">Date Granularity</div>
            <div class="slc">
                <mat-form-field appearance="outline">
                    <mat-label>choose date</mat-label>
                    <mat-date-range-input [formGroup]="intervalDates" [rangePicker]="campaignOnePicker">
                        <input matStartDate formControlName="start">
                        <input matEndDate formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="btn">
                <button mat-raised-button color="primary" (click)="applySearch()">Apply</button>
            </div>
            <div class="btn exl">
                <button mat-raised-button color="accent" (click)="exportData()" >Export</button>
            </div>
        </div>
    </div>
    <div class="charts">
        <div class="boxs">
            <!-- <div class="lbl">Data Exchange</div> -->
            <div class="ctn-boxs">
                <div class="item-box c1">
                    <canvas id="chart1" class="chrt"></canvas>
                </div>
                <div class="item-box c2">
                    <canvas id="chart2" class="chrt"></canvas>
                </div>
                <div class="item-box c3">
                    <canvas id="chart3" class="chrt"></canvas>
                </div>
                <div class="item-box">
                    <div class="title">Consumers by country</div>
                    <div class="map-container">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>